.header {
    background-image: url("italy3.jpeg");
    background-size: cover;
    height: 900px;
    text-align: center;
}

.centerAlign {
    text-align: center;
    align-content: center;
}

body {
    margin: -20px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.newWeb {
    padding-top: 50px;
    padding-left: 40px;
    margin-top: -20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    font-weight: bolder;
}

.headerText {
    color: white;
    padding-left: 150px;
    padding-right: 150px;
}

.orderBtn {
    background: none;
    color: white;
    border-style: solid;
    border-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 40px;
}

.orderBtn:hover {
    background-color: black;
    border-color: black;
    transition: .5s ease-in-out;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bienV {
    font-family: 'Cedarville Cursive', cursive;
    font-size: xx-large;
}

